*{
    color: rgb(43, 4, 4);
}
.city{
    background-color: rgb(196, 138, 97);
    color:black;
    text-align: center;
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    
}

#myheader{
    background-color: #2057ef;
    color:black;
    text-align: center;
}
table{
    border-style: dashed;
}
nav{
    text-align: center;
    font: size 20px;
    color: brown;
    padding: 10px;
    background-color: #6a8ae3;
}
footer{
    text-align: left;
    font-size: medium;
    background-color: #6a8ae3;
    margin-top: 10px;
}
header{
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section , article{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

aside{
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.image-container {
    text-align: center; 
}

.image-container figcaption {
    margin-top: 10px; 
}
p b {
    font-family: verdana;
    font-size: 20px;
    color: rgb(47, 0, 255);
    }
p > b {
    font-family: verdana;
    font-size: 20px;
    color: rgb(3, 134, 25);
}

.style1{
    color: rgb(70, 114, 12);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

[type="button"] {
    background-color: rgb(209, 21, 162);
    width:100px;
    }
    
input[type="reset"] {
    background-color: rgb(245, 245, 10);
    width:100px;
   }
   

